server {
    listen 80;
    listen [::]:80;

    access_log  /var/log/nginx/back-end.access.log;
    error_log   /var/log/nginx/back-end.error.log;

    location / {
        include proxy_params;
        proxy_pass http://0.0.0.0:5000;
    }
    client_max_body_size 20M;
    proxy_connect_timeout 600s;
    proxy_read_timeout 600s;

}